In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

current_dir = os.getcwd()
parent_dir = os.path.dirname(current_dir)

print(parent_dir)
os.chdir(parent_dir)
print(os.getcwd())

C:\Users\karan\OneDrive\Desktop\College_Stuff\ds_ml\ds3001
C:\Users\karan\OneDrive\Desktop\College_Stuff\ds_ml\ds3001

In [2]:
folder_path = './data'

file_names = []
for item in os.listdir(folder_path):
    item_path = os.path.join(folder_path, item)
    if os.path.isfile(item_path):
        file_names.append(item)

print(len(file_names))
# print(file_names)

4449

In [35]:
df = pd.DataFrame()

for name in file_names:
    path_name = './data/'+ name

    # print(path_name)

    temp_df = pd.read_csv(path_name)
    
    temp_df.drop(columns=['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1'], inplace=True)
    
    
    df = pd.concat([df, temp_df], ignore_index=True)

In [41]:
    
df['year'] = df['match_id'].str[:4].astype(int)
    

def update_year(row):
    if row['year'] == 2020 and int(row['match_id'][4:6]) >= 12:
        return row['year'] + 1
    elif row['year'] != 2020 and 9 <= int(row['match_id'][4:6]) <= 12:
        return row['year'] + 1
    else:
        return row['year']
    

df['year'] = df.apply(update_year, axis=1)

In [54]:
# Everything seems clean, so after adding a year variable to show the season it takes place, nothing else is needed

In [44]:
df.head()

,match_id,shotX,shotY,quarter,time_remaining,player,team,made,shot_type,distance,score,opp,status,year
0,200010310ATL,8.3,20.2,1st quarter,11:29.0,Baron Davis,CHH,False,2-pointer,22,0-2,'CHH',trails,2001
1,200010310ATL,35.9,15.8,1st quarter,10:41.0,Jamal Mashburn,CHH,False,2-pointer,16,0-2,'CHH',trails,2001
2,200010310ATL,24.0,5.0,1st quarter,10:38.0,Baron Davis,CHH,False,2-pointer,0,0-2,'CHH',trails,2001
3,200010310ATL,15.4,5.9,1st quarter,9:36.0,Elden Campbell,CHH,False,2-pointer,9,0-4,'CHH',trails,2001
4,200010310ATL,20.3,25.0,1st quarter,9:18.0,David Wesley,CHH,True,2-pointer,20,2-4,'CHH',trails,2001

In [ ]:
years_list = df['year'].unique()

for year in years_list:
    #print(year)
    df[df['year'] == year].to_csv('data_by_season/nba_shot_data_' + (str)(year) + '.csv', index=False)